NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3001

# Root domain for subdomain extraction
# local: localhost   production: stafflogic.com
NEXT_PUBLIC_APP_DOMAIN=localhost

# local: http://localhost:3000   production: https://stafflogic.com
NEXT_PUBLIC_LANDING_URL=http://localhost:3000
